name: Tu dong Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Kich hoat Render Deploy
        run: curl -X POST ${{ secrets.RENDER_HOOK }}